<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title>微信认证后台管理系统</title>
  <meta charset="UTF-8"/>

</head>
<body>
<h1>
    <a href="http://common.diditaxi.com.cn/general/webEntry?maptype=wgs&fromlat=39.98096907577634&fromlng=116.30000865410719&channel=71918"
       >去打车</a>
  欢迎进入测试页面！！
</h1>
</body>
</html>
